<div
  class="min-h-screen bg-gradient-to-br from-violet-50 via-purple-50 to-fuchsia-50 pt-24 px-4 sm:px-6 lg:px-8 pb-12"
>
  <app-favorites-header
    [filter]="filter"
    (filterChange)="filter = $event; applyFilter()"
  ></app-favorites-header>

  <app-favorites-grid
    *ngIf="filteredFavorites.length > 0; else noFavorites"
    [favorites]="pagedFavorites"
    (details)="openModal($event)"
    (remove)="removeFavorite($event)"
  ></app-favorites-grid>

  <app-pagination
    *ngIf="filteredFavorites.length > 0"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="goToPage($event)"
  ></app-pagination>

  <ng-template #noFavorites>
    <app-favorites-empty-state [filter]="filter"></app-favorites-empty-state>
  </ng-template>
</div>

<app-book-details-modal
  [book]="selectedBook"
  [fallbackImage]="fallbackImage"
  [showPrimaryAction]="false"
  (close)="closeModal()"
></app-book-details-modal>

<app-notification-modal
  [message]="notificationMessage"
  (close)="clearNotification()"
></app-notification-modal>
