body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; /* Aumentar o espaço entre os cartões */
  padding: 20px;
}

.book-card {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: none; /* Remover borda */
  border-radius: 12px; /* Bordas mais arredondadas */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra mais pronunciada */
  background-color: white;
  width: 220px; /* Largura ligeiramente aumentada */
  transition: transform 0.3s, box-shadow 0.3s; /* Suavizar transições */
}

.book-card:hover {
  transform: translateY(-10px); /* Mais espaçamento ao passar o mouse */
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25); /* Efeito de sombra mais intenso */
}

.book-card img {
  width: 180px; /* Largura aumentada */
  height: 250px; /* Altura aumentada */
  object-fit: cover;
  margin-bottom: 10px; /* Reduzir espaço abaixo da imagem */
  border-radius: 8px; /* Bordas arredondadas na imagem */
}

.book-card h2 {
  font-size: 1.2rem; /* Ajustar o tamanho da fonte */
  margin: 5px 0; /* Reduzir margens */
  text-align: center;
  color: #333;
}

.book-card p {
  font-size: 0.9rem;
  color: #555; /* Tom mais escuro para o texto */
  margin-bottom: 15px; /* Aumentar espaço abaixo do texto */
  text-align: center;
}

.book-card button {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 15px; /* Aumentar o padding */
  border: none;
  background: linear-gradient(45deg, #8A2BE2, #DA70D6); /* Cor degradê roxo */
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.95rem; /* Fonte levemente maior */
  transition: background-color 0.3s;
  margin-top: auto; /* Garantir que o botão esteja na parte inferior do card */
}

.book-card button:hover {
  background-color: #5D3FD3; /* Tom mais escuro no hover */
}

/* Estilo do modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 600px;
  max-height: 80%; /* Limitar a altura do modal */
  overflow-y: auto; /* Adicionar rolagem se necessário */
  text-align: center;
  animation: fadeIn 0.4s;
  transition: transform 0.3s;
  transform: translateY(-10px);
}

/* Estilo da imagem do modal */
.modal-content img {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Estilo do botão de fechar */
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.6rem;
  color: #DA70D6;
  cursor: pointer;
  z-index: 1001; /* Garantir que está acima do modal */
}

.close:hover {
  color: #ff4d4d; /* Efeito hover */
}

/* Título */
.modal-content h2 {
  font-size: 1.8rem; /* Tamanho maior para o título */
  margin: 10px 0;
  color: #DA70D6; /* Cor mais pronunciada */
  font-weight: 600; /* Negrito */
}

/* Subtítulo */
.modal-content h3 {
  font-size: 1.2rem; /* Tamanho do subtítulo */
  margin: 5px 0 15px; /* Margens regularizadas */
  color: #DA70D6; /* Tom mais suave */
}

/* Texto do corpo */
.modal-content p {
  font-size: 1rem; /* Tamanho confortável do texto */
  color: #555; /* Cor do texto */
  line-height: 1.5; /* Altura da linha ajustada */
  margin-bottom: 15px; /* Espaço abaixo dos parágrafos */
}

/* Animação de fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
