body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: white;
  width: 220px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.book-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.book-card img {
  width: 98%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}

.book-card h2 {
  font-size: 1.2rem;
  margin: 5px 0;
  text-align: center;
  color: #333;
}

.book-card p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 15px;
  text-align: center;
}

.book-card-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.book-card button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 15px;
  border: none;
  background: linear-gradient(45deg, #8A2BE2, #DA70D6);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.3s;
  padding: 10px 15px;
  width: 45%;
}

.book-card button:hover {
  background-color: #5D3FD3;
}

.book-card button span {
  margin-right: 8px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  text-align: center;
  animation: fadeIn 0.4s;
  transition: transform 0.3s;
  transform: translateY(-10px);
}

.modal-content img {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.6rem;
  color: #888;
  cursor: pointer;
  z-index: 1001;
}

.close:hover {
  color: #ff4d4d;
}

.modal-content h2 {
  font-size: 1.8rem;
  margin: 10px 0;
  color: #333;
  font-weight: 600;
}

.modal-content h3 {
  font-size: 1.2rem;
  margin: 5px 0 15px;
  color: #555;
}

.modal-content p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 15px;
}

.modal-content label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 8px;
  color: #4B0082;
}

.modal-content textarea,
.modal-content input[type="number"],
.modal-content input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-content button {
  padding: 10px 15px;
  border: none;
  background: linear-gradient(45deg, #8A2BE2, #DA70D6);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-top: 20px;
  width: 80%;
}

.modal-content button:hover {
  background-color: #5D3FD3;
}

.book-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.book-links a {
  flex: 1;
  margin: 0 10px;
}

.book-links button {
  padding: 10px 15px;
  border: none;
  background: linear-gradient(45deg, #8A2BE2, #DA70D6);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: 100%;
}

.book-links button:hover {
  background-color: #5D3FD3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
