<div class="book-list">
  <div class="book-card" *ngFor="let book of books">
    <img [src]="book.volumeInfo.imageLinks?.thumbnail" alt="Capa do Livro">
    <h2>{{ book.volumeInfo.title }}</h2>
    <p>{{ book.volumeInfo.authors?.join(', ') }}</p>
    <div class="book-card-buttons">
      <button (click)="openModal(book)">Info</button>
      <button (click)="toggleFavorite(book)">
        <span *ngIf="isFavorite(book)">❤️</span>
        <span *ngIf="!isFavorite(book)">🤍</span>
        Favoritar
      </button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="selectedBook">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <img [src]="selectedBook.volumeInfo.imageLinks?.thumbnail" alt="Capa do Livro">
    <h2>{{ selectedBook.volumeInfo.title }}</h2>
    <p><strong>Autor(es):</strong> {{ selectedBook.volumeInfo.authors?.join(', ') }}</p>
    <p><strong>Descrição:</strong> {{ selectedBook.volumeInfo.description }}</p>
    <p><strong>Data de Lançamento:</strong> {{ selectedBook.volumeInfo.publishedDate }}</p>
    <p><strong>Editora:</strong> {{ selectedBook.volumeInfo.publisher }}</p>
    <div>
      <label for="notes">Notas Pessoais:</label>
      <textarea id="notes" [(ngModel)]="selectedBook.notes"></textarea>
    </div>
    <div>
      <label for="rating">Avaliação (1 a 5):</label>
      <input type="number" id="rating" [(ngModel)]="selectedBook.rating" min="1" max="5">
    </div>
    <div>
      <label for="tags">Tags:</label>
      <input type="text" id="tags" [(ngModel)]="selectedBook.tags" placeholder="Adicione tags separadas por vírgulas">
    </div>
    <button (click)="saveFavorite(selectedBook)">Salvar</button>
  </div>
</div>
