<div class="book-list">
  <div class="book-card" *ngFor="let book of books">
    <img
      *ngIf="book.thumbnail; else noImage"
      [src]="book.thumbnail"
      alt="Capa do Livro"
    />
    <ng-template #noImage>
      <img src="/assets/notimg.jpg" alt="Imagem nao disponivel" />
    </ng-template>

    <h2>{{ book.title }}</h2>
    <p>{{ book.authors.join(", ") }}</p>

    <div class="book-card-buttons">
      <button (click)="openModal(book)">Info</button>
      <button (click)="toggleFavorite(book)">
        <span *ngIf="isFavorite(book)">&#10084;</span>
        <span *ngIf="!isFavorite(book)">&#129321;</span>
        Favoritar
      </button>
    </div>
  </div>

  <div class="modal" *ngIf="selectedBook">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>

      <img
        *ngIf="selectedBook.thumbnail; else noImage"
        [src]="selectedBook.thumbnail"
        alt="Capa do Livro"
      />
      <ng-template #noImage>
        <img src="/assets/notimg.jpg" alt="Imagem nao disponivel" />
      </ng-template>

      <h2>{{ selectedBook.title }}</h2>
      <p><strong>Autor(es):</strong> {{ selectedBook.authors.join(", ") }}</p>
      <p>
        <strong>Descricao:</strong>
        {{ selectedBook.description || "Nao informada." }}
      </p>
      <p>
        <strong>Data de Lancamento:</strong>
        {{ selectedBook.publishedDate || "Nao informada." }}
      </p>
      <p>
        <strong>Editora:</strong>
        {{ selectedBook.publisher || "Nao informada." }}
      </p>

      <div>
        <label for="notes">Notas Pessoais:</label>
        <textarea id="notes" [(ngModel)]="selectedBook.notes"></textarea>
      </div>
      <div>
        <label for="rating">Avaliacao (1 a 5):</label>
        <input
          type="number"
          id="rating"
          [(ngModel)]="selectedBook.rating"
          min="1"
          max="5"
        />
      </div>
      <div>
        <label for="tags">Tags:</label>
        <input
          type="text"
          id="tags"
          [(ngModel)]="selectedBook.tags"
          placeholder="Adicione tags separadas por virgulas"
        />
      </div>

      <div class="book-links">
        <a
          *ngIf="selectedBook.readUrl"
          [href]="selectedBook.readUrl"
          target="_blank"
          rel="noopener"
        >
          <button>Ver Livro</button>
        </a>
        <a
          *ngIf="selectedBook.infoUrl"
          [href]="selectedBook.infoUrl"
          target="_blank"
          rel="noopener"
        >
          <button>Mais Detalhes</button>
        </a>
        <a
          *ngIf="selectedBook.buyUrl"
          [href]="selectedBook.buyUrl"
          target="_blank"
          rel="noopener"
        >
          <button>Comprar</button>
        </a>
        <a
          *ngIf="selectedBook.pdfUrl"
          [href]="selectedBook.pdfUrl"
          target="_blank"
          rel="noopener"
        >
          <button>Baixar PDF</button>
        </a>
      </div>

      <button (click)="saveFavorite(selectedBook)">Favoritar</button>
    </div>
  </div>

  <div *ngIf="notificationMessage" class="modal-overlay">
    <div class="modal-content">
      <p>{{ notificationMessage }}</p>
      <button (click)="notificationMessage = null">Fechar</button>
    </div>
  </div>

  <div class="modal-overlay" *ngIf="showLoginModal">
    <div class="modal-content">
      <p>
        Voce precisa estar logado para favoritar um livro. Deseja fazer login?
      </p>
      <button (click)="navigateToLogin()">Sim, fazer login</button>
      <button (click)="closeLoginModal()">Cancelar</button>
    </div>
  </div>
</div>
