<div class="favorites-container">
  <h1>Favoritos</h1>
  <div class="filter">
    <label for="filter">Filtrar por Tag ou Nome:</label>
    <input type="text" id="filter" [(ngModel)]="filter" (input)="applyFilter()" placeholder="Digite uma tag ou nome">
  </div>  
  <div class="favorites-list" *ngIf="filteredFavorites.length > 0; else noFavorites">
    <div class="favorite-card" *ngFor="let book of filteredFavorites">
      <img [src]="book.volumeInfo.imageLinks?.thumbnail" alt="Capa do Livro">
      <h2>{{ book.volumeInfo.title }}</h2>
      <p>{{ book.volumeInfo.authors?.join(', ') }}</p>
      <div class="favorite-card-buttons">
        <button (click)="openModal(book)">Info</button>
        <button (click)="removeFavorite(book.id)">Remover</button>
      </div>
    </div>
  </div>
  <ng-template #noFavorites>
    <p>Você ainda não adicionou nenhum livro aos favoritos.</p>
  </ng-template>
</div>

<div class="modal" *ngIf="selectedBook">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <img [src]="selectedBook.volumeInfo.imageLinks?.thumbnail" alt="Capa do Livro">
    <h2>{{ selectedBook.volumeInfo.title }}</h2>
    <p><strong>Autor(es):</strong> {{ selectedBook.volumeInfo.authors?.join(', ') }}</p>
    <p><strong>Descrição:</strong> {{ selectedBook.volumeInfo.description }}</p>
    <p><strong>Data de Lançamento:</strong> {{ selectedBook.volumeInfo.publishedDate }}</p>
    <p><strong>Editora:</strong> {{ selectedBook.volumeInfo.publisher }}</p>
    <div>
      <label for="notes">Notas Pessoais:</label>
      <textarea id="notes" [(ngModel)]="selectedBook.notes"></textarea>
    </div>
    <div>
      <label for="rating">Avaliação (1 a 5):</label>
      <input type="number" id="rating" [(ngModel)]="selectedBook.rating" min="1" max="5">
    </div>
    <div>
      <label for="tags">Tags:</label>
      <input type="text" id="tags" [(ngModel)]="selectedBook.tags" placeholder="Adicione tags separadas por vírgulas">
    </div>
    <div class="book-links">
      <a *ngIf="selectedBook.accessInfo?.webReaderLink" [href]="selectedBook.accessInfo.webReaderLink" target="_blank">
        <button>Ler Completo</button>
      </a>
      <a *ngIf="selectedBook.saleInfo?.buyLink" [href]="selectedBook.saleInfo.buyLink" target="_blank">
        <button>Comprar</button>
      </a>
      <a *ngIf="selectedBook.accessInfo?.pdf?.acsTokenLink" [href]="selectedBook.accessInfo.pdf.acsTokenLink" target="_blank">
        <button>Baixar PDF</button>
      </a>
    </div>
    <button (click)="updateFavorite(selectedBook)">Atualizar</button>
  </div>

</div>

<!-- Modal de Notificação -->
<div *ngIf="notificationMessage" class="modal-overlay">
<div class="modal-content">
  <p>{{ notificationMessage }}</p>
  <button (click)="notificationMessage = null">Fechar</button>
</div>
</div>