body {  
  font-family: 'Roboto', sans-serif;  
  background-color: #f0f2f5;  
  margin: 0;  
  padding: 0;  
}  

.container {  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  padding: 20px;  
  margin-top: 200px;
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
  .container {
    margin-top: 100px;
    padding: 15px;
  }
}

.question {
  font-size: 3rem;
  font-weight: bold;
  color: #4B0082;
  text-align: center;
  margin-bottom: 50px;
  animation: fadeIn 1s ease-in-out;
  background: linear-gradient(45deg, #8A2BE2, #800050);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Ajuste do tamanho do título para telas menores */
@media (max-width: 480px) {
  .question {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.search-bar {  
  display: flex;  
  width: 50%;  
  margin-bottom: 20px;  
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: white; 
}

/* Reduzindo a largura da barra de pesquisa em telas menores */
@media (max-width: 768px) {
  .search-bar {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .search-bar {
    width: 100%;
    flex-direction: column;
  }
}

.search-bar input {  
  flex: 1;  
  padding: 20px;
  border: none;
  outline: none; 
  font-size: 20px;  
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}  

.search-bar input::placeholder {  
  color: #aaa;
}  

.search-bar input:focus {  
  background-color: #f9f9f9; 
}  

.search-bar button {  
  padding: 15px 20px; 
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #800080, #8A2BE2);  
  color: white;  
  font-size: 20px;  
  cursor: pointer;  
  transition: background-color 0.3s;
}

/* Ajustando o botão em telas menores */
@media (max-width: 480px) {
  .search-bar button {
    width: 100%;
    border-radius: 0 0 8px 8px;
  }
}

.search-bar button:hover {  
  background: linear-gradient(45deg, #800050, #8A2BE2); 
  transform: scale(1.05);
  border-radius: 8px;  
}  

.book-list-container {  
  width: 100%;  
  max-width: 1200px;  
}
